@inject DrawerService DrawerService

<div class="drawer-content">
    <MudIconButton Style="position: absolute; top: 8px; left: 8px;"
                   Icon="@Icons.Material.Outlined.Close"
                   Size="Size.Small"
                   Variant="Variant.Filled"
                   Color="Color.Primary"
                   OnClick="@OnCloseClicked" />
</div>

@code {
    private async Task OnCloseClicked()
    {
        await DrawerService.Close();
    }
}
