@typeparam TItem

<div class="item-picker-dialog">
    
</div>

@code {
    [CascadingParameter]
    public MudDialogInstance? MudDialog { get; set; }

    [EditorRequired]
    [Parameter]
    public required IQueryable<TItem> Items { get; set; }
}
