.page-header {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
}

.page-header-container {
    height: 30px;
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid var(--gray-300);
    border-radius: 4px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 6px;
    padding-right: 6px;
}
