<div class="title-box mud-elevation-1">
    <div class="title-container" style="background-color: @MudTheme.Palette.Primary;">
        @Title
    </div>
    @ChildContent
</div>

@code {
    [EditorRequired]
    [Parameter]
    public required string Title { get; set; }

    [Parameter]
    public required RenderFragment ChildContent { get; set; }

    [CascadingParameter]
    public required MudTheme MudTheme { get; set; }
}
