:root {
    --gray-50: #FAFAFA;
    --gray-100: #F5F5F5;
    --gray-200: #EEEEEE;
    --gray-300: #E0E0E0;
    --gray-400: #BDBDBD;
    --gray-500: #9E9E9E;
    --gray-600: #757575;
    --gray-700: #616161;
    --gray-800: #424242;
    --gray-900: #212121;
}

html {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.mud-layout {
    flex-grow: 1;
    display: flex;
}

.mud-main-content {
    flex-grow: 1;
    display: flex;
    padding: 0;
}
