@page "/"
@inject IDbContextFactory<AdventureWorksContext> DbFactory

<PageTitle>Home</PageTitle>

<div class="home">
    <MudIconButton Style="position: fixed; margin: 8px;"
                   Icon="@Icons.Material.Outlined.Menu"
                   Size="Size.Small"
                   Variant="Variant.Filled"
                   Color="Color.Primary" />
</div>

@code {
    // public string FirstProductName { get; set; } = string.Empty;

    // protected override async Task OnInitializedAsync()
    // {
    //     var context = DbFactory.CreateDbContext();

    //     var product = await context.Products.FirstOrDefaultAsync();

    //     if (product is not null)
    //     {
    //         FirstProductName = product.Name;
    //     }
    // }
}
