<div class="internet-vs-reseller">
    <PageBox Title="Total Sales IS" Size="PageBox.PageBoxSize.Small">
        Total Sales IS
    </PageBox>
    <PageBox Title="Total Cost IS" Size="PageBox.PageBoxSize.Small">
        Total Cost IS
    </PageBox>
    <PageBox Title="Gross Profit IS" Size="PageBox.PageBoxSize.Small">
        Gross Profit IS
    </PageBox>
    <PageBox Title="Gross Margin IS" Size="PageBox.PageBoxSize.Small">
        Gross Margin IS
    </PageBox>
    <PageBox Title="Total Sales RS" Size="PageBox.PageBoxSize.Small">
        Total Sales RS
    </PageBox>
    <PageBox Title="Total Cost RS" Size="PageBox.PageBoxSize.Small">
        Total Cost RS
    </PageBox>
    <PageBox Title="Gross Profit RS" Size="PageBox.PageBoxSize.Small">
        Gross Profit RS
    </PageBox>
    <PageBox Title="Gross Margin RS" Size="PageBox.PageBoxSize.Small">
        Gross Margin RS
    </PageBox>
</div>

@code {

}
