@page "/Regional"

<PageTitle>Regional</PageTitle>

<div class="regional">
    <PageHeader Title="Regional Analysis" />

@*     <TitleBox Title="Total Sales">
        <div>Hoho</div>
    </TitleBox> *@
</div>

@code {

}
