<div class="regional-filter">
@*     <MudDatePicker Label="From" 
                   DisableToolbar="true"
                   PickerVariant="PickerVariant.Dialog"
                   Margin="Margin.Dense"
                   Variant="Variant.Filled"
                   Style="margin-top: 6px;" /> *@

    <DateRangePicker FromDate="FromDate" ToDate="ToDate" />
</div>

@code {
    public DateTime? FromDate { get; set; }

    public DateTime? ToDate { get; set; }
}
