@page "/Regional"

<PageTitle>Regional</PageTitle>

<div class="regional">
    <div style="margin: 8px;">
        <PageHeader Title="Regional Analysis" />
    </div>
    <div class="grid">
        <div class="total-sales">
            <PageBox Title="Total Sales">
                Total Sales
            </PageBox>
        </div>
        <div class="total-cost">
            <PageBox Title="Total Cost">
                Total Cost
            </PageBox>
        </div>
        <div class="gross-profit">
            <PageBox Title="Gross Profit">
                Gross Profit
            </PageBox>
        </div>
        <div class="gross-margin">
            <PageBox Title="Gross Margin">
                Gross Margin
            </PageBox>
        </div>
        <div class="sales-trend">
            <PageBox Title="Sales Trend Top 3 Countries">
                Sales Trend
            </PageBox>
        </div>
        <div class="internet-vs-reseller">
            <PageBox Title="Internet vs Reseller Sales">
                <InternetVsReseller />
            </PageBox>
        </div>
        <div class="distribution-of-sales">
            <PageBox Title="Distribution of Sales">
                Distribution of Sales
            </PageBox>
        </div>
        <div class="top-3-states">
            <PageBox Title="Top 3 States (Sales)">
                Top 3 States
            </PageBox>
        </div>
        <div class="top-3-cities">
            <PageBox Title="Top 3 Cities (Sales)">
                Top 3 Cities
            </PageBox>
        </div>
        <div class="summary-matrix">
            <PageBox Title="Summary Matrix">
                Summary Matrix
            </PageBox>
        </div>
    </div>
</div>

@code {

}
