@page "/Regional"

<PageTitle>Regional</PageTitle>

<div class="regional">
    <PageHeader Title="Regional Analysis" />
    <div class="grid">
        <div class="total-sales">
            Total Sales
        </div>
        <div class="total-cost">
            Total Cost
        </div>
        <div class="gross-profit">
            Gross Profit
        </div>
        <div class="gross-margin">
            Gross Margin
        </div>
        <div class="sales-trend">
            Sales Trend
        </div>
        <div class="internet-vs-reseller">
            Internet vs Reseller
        </div>
        <div class="distribution-of-sales">
            Distribution of Sales
        </div>
        <div class="top-3-states">
            Top 3 States
        </div>
        <div class="top-3-cities">
            Top 3 Cities
        </div>
        <div class="summary-matrix">
            Summary Matrix
        </div>
    </div>


@*     <TitleBox Title="Total Sales">
        <div>Hoho</div>
    </TitleBox> *@
</div>

@code {

}
