.regional {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--gray-50);
}

.regional-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.header {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
    font-weight: 600;
}

.grid {
    display: grid;
    gap: 8px;
    margin: 8px;
}

.total-sales {
    grid-area: total-sales;
}

.total-cost {
    grid-area: total-cost;
}

.gross-profit {
    grid-area: gross-profit;
}

.gross-margin {
    grid-area: gross-margin;
}

.sales-trend-top-3-countries {
    grid-area: sales-trend-top-3-countries;
}

.internet-vs-reseller {
    grid-area: internet-vs-reseller;
}

.distribution-of-sales {
    grid-area: distribution-of-sales;
}

.top-3-states {
    grid-area: top-3-states;
}

.top-3-cities {
    grid-area: top-3-cities;
}

.summary-matrix {
    grid-area: summary-matrix;
}

@media (min-width: 0px) {
    .regional-container {
        border: unset;
        border-radius: unset;
        margin: unset;
    }

    .grid {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "total-sales total-cost"
            "gross-profit gross-margin"
            "sales-trend-top-3-countries sales-trend-top-3-countries"
            "internet-vs-reseller internet-vs-reseller"
            "distribution-of-sales distribution-of-sales"
            "top-3-states top-3-cities"
            "summary-matrix summary-matrix";
    }
}

@media (min-width: 600px) {
    .regional-container {
        border: 1px solid var(--gray-200);
        border-radius: 4px;
        margin: calc(8px + 15px);
    }

    .grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "total-sales total-cost gross-profit gross-margin"
            "sales-trend-top-3-countries sales-trend-top-3-countries internet-vs-reseller internet-vs-reseller"
            "distribution-of-sales distribution-of-sales distribution-of-sales distribution-of-sales"
            "top-3-states top-3-cities summary-matrix summary-matrix";
    }
}

@media (min-width: 960px) {
    .grid {
        margin: calc(8px + 15px);
    }
}

@media (min-width: 1280px) {
}

@media (min-width: 1920px) {
}
