@inject IDbContextFactory<AdventureWorksContext> DbFactory
@inject RegionalFilterService RegionalFilterService

<div class="regional-filter">
@*     <MudDatePicker Label="From" 
                   DisableToolbar="true"
                   PickerVariant="PickerVariant.Dialog"
                   Margin="Margin.Dense"
                   Variant="Variant.Filled"
                   Style="margin-top: 6px;" /> *@

    <DateRangePicker FromDate="RegionalFilterService.RegionalFilterState.FromDate"
                     ToDate="RegionalFilterService.RegionalFilterState.ToDate"
                     MinDate="RegionalFilterService.RegionalFilterState.MinDate"
                     MaxDate="RegionalFilterService.RegionalFilterState.MaxDate"
                     OnFromDateChanged="(newFromDate) => HandleFromDateChanged(newFromDate)"
                     OnToDateChanged="(newToDate) => HandleToDateChanged(newToDate)" />
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        await RegionalFilterService.Initialize();
    }

    private async Task HandleFromDateChanged(DateTime? newFromDate)
    {
        RegionalFilterService.RegionalFilterState.FromDate = newFromDate;
        await RegionalFilterService.Update();
    }

    private async Task HandleToDateChanged(DateTime? newToDate)
    {
        RegionalFilterService.RegionalFilterState.ToDate = newToDate;
        await RegionalFilterService.Update();
    }

}
