<div class="regional-filter">
    <MudDatePicker Label="From" 
                   DisableToolbar="true"
                   PickerVariant="PickerVariant.Dialog"
                   Margin="Margin.Dense"
                   Variant="Variant.Filled"
                   Style="margin-top: 6px;" />
</div>

@code {

}
